* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 15px;
    background-color: #3c3c3c;
}

header h1 {
    color: #EEE;
    font-size: 20px;
    font-weight: 700;
}
h1 {
    text-align: center;
}

.jokes {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
}

.jokes .joke {
    margin: 15px;
    padding: 15px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.jokes .joke .joke-question {
    position: relative;
    font-size: 16px;
    padding-right: 80px;
    transition: all 0.4s ease;
}

.jokes .joke .joke-question::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 25px;
    height: 30px;

    background-image: url('./down-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: all 0.4s ease-out;
}

.jokes .joke .joke-answer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
}

.jokes .joke.open .joke-question {
    margin-bottom: 15px;
}

.jokes .joke.open .joke-answer {
    max-height: 1000px;
    opacity: 1;
}